:root { 

  --default-color: #ffffff;
  --heading-color: #ff00c8; 

}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

h1 {
    font-size: 40px;
    font-weight: 700 !important;
    letter-spacing: 1px;
    color: aqua !important;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(207, 45, 207);
}

h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(207, 45, 207);
}

h4 {
    font-size: 18px !important;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(207, 45, 207) !important;
}

h5 {
    font-size: 14px !important;
    font-weight: 1000 !important;
    letter-spacing: 2px;
    color: rgb(142, 72, 203) !important;
}

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 100px;
  z-index: 99999;
  background-color: rgb(207, 45, 207) ;
  width: 44px;
  height: 44px;
   border-radius: 00px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, rgb(207, 45, 207)  , rgb(102, 24, 102));
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
  color: red;
  font-weight: bold;
}

.navmenu a:hover .navicon,
.navmenu .active:focus .navicon {
  color: red;
}

.header .header-toggle {
  background-color: rgb(207, 45, 207) ;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 0%;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  transition: background-color 0.3s;
}

.header .header-toggle:hover {
  background-color: color-mix(in srgb, rgb(207, 45, 207)  , rgb(102, 24, 102));;
}

.header .social-links a:hover {
  background: red;
}

#link {
    color: red  !important;
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}

.section,
.about,
.resume,
.portfolio {
    background: #0b0847;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 20px rgb(247, 0, 255);
}

.navmenu ul {
  list-style:none;
  padding: 0 0 20px 15px;
  margin: 10px;
}

.navmenu ol {
  list-style:upper-roman;
  padding: 0 0 20px 15px;
  margin: 10px;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.services-table th,
.services-table td {
    padding: 14px 18px;
    text-align: center;
    border: 2px solid rgb(114, 26, 114) ;
}


.services-table thead th {
    background-color: #3d1d57;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.services-table tbody tr:nth-child(odd) {
    background-color: #0e61b4;
}

.services-table tbody tr:nth-child(even) {
    background-color:  #0a3968;
}

.services-table tbody tr:hover {
    background-color: #dbe7f2;
    transition: 0.2s;
}